@import url(./_small/popup__button_small.css);

.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 48px;
  border-radius: 2px;
  color: rgba(0, 0, 0, .2);
}

.popup__button_enabled{
  color: white;
  background-color: black;
}

.popup__button:disabled{
  cursor: auto;
}